* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* -------NAVBAR------- */
.nav {
  padding-block: 15px;
  height: 60px;
  border: 2px solid white;
  display: flex;
}
.invert {
  filter: invert(1);
}
.type {
  display: flex;
  background-color: #2a2a2a;
  opacity: 0.8;
  border-radius: 20px;
  height: 45px;
  border: none;
  outline: none;
  align-self: center;
  border: 2px solid transparent;
}
.type:hover {
  background-color: #3c3c3c;
}
.type:focus-within {
  border: 2px solid white;
}
.type img {
  height: 30px;
  align-self: center;
  cursor: pointer;
}
.list {
  display: flex;
  list-style: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.564);
  transition: 0.2s;
  cursor: pointer;
}
.list li {
  padding-inline: 10px;
  align-self: center;
}
.list li:hover {
  color: rgba(255, 255, 255, 0.919);
  transform: scale(1.09);
}
.list li img {
  height: 20px;
}
.button-1 {
  cursor: pointer;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 550;
  border: none;
  background-color: white;
  align-self: center;
  transition: 0.2s;
}
.button-1:hover {
  background-color: rgb(230, 225, 225);
  transform: scale(1.03);
}
.padding {
  padding-inline: 15px;
}
.input {
  width: 350px;
  background-color: #2a2a2a;
  font-size: 16px;
  outline: none;
  border: none;
  color: white;
}
.input:hover {
  background-color: #3c3c3c;
}
.space {
  width: 280px;
}

.line {
  align-self: center;
  font-size: 30px;
}
.item {
  display: flex;
}
.item div {
  padding-inline: 10px;
  align-self: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.564);
  transition: 0.2s;
  cursor: pointer;
}
.item div:hover {
  color: white;
  transform: scale(1.09);
}
.item img {
  height: 20px;
  align-self: center;
  margin-left: 20px;
}
/* -----BOXES----- */
.boxes{
  display: flex;
}
/* -----LEFT BOX----- */

.left{
  width: 30vw;
  border-radius: 12px;
  margin: 5px 10px;
  height: 100vh;
  background-color: #111010;
}

/* -----LEFT FIRST----- */
.left-first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 20px 20px;
  font-weight: 600;
}
.left-first-write{
  height: 40px;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color:  rgba(46, 46, 46, 0.564);
  display: flex;
  gap: 6px;
  cursor: pointer;
}
.left-first-write:hover{
  background-color: #2e2d2d;
}


/* -----LEFT SECOND----- */
.left-second{
  height: 150px;
  width: 90%;
  margin:25px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 16px;
  padding: 0px 20px;
  background-color: #1c1b1b;
}
.left-second-1{
  font-size: 17px;
  font-weight: 600;
}
.left-second-2{
  font-size: 15px;
}
.left-second-3{
  font-size: 15px;
  align-self: flex-start;
  width: 150px;
  height: 45px;
}

/* -----LEFT FOURTH----- */
.left-fourth{
  width: 90%;
  margin: 30px auto;
 padding: 0px ;
}
.list-2{
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.list-2 li{
  margin: 0px 6px;
  font-size: 14px;
  color: #8c8c8c;
  cursor: pointer;
}
.left-fourth-write{
  margin: 0px 6px;
  font-size: 14px;
  cursor: pointer;
}
.left-fourth-write:hover{
  text-decoration: underline;
  color: white;
}
.button-2{
  margin-top: 50px ;
  height: 38px;
  width: 120px;
  background-color: #242323;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  align-items: center;
  border: 1px solid #414141;
}
.button-2:hover{
  border: 1px solid white;
}
.button-2 img{
  margin: 0px 5px;
  padding-top: 3px;
  align-self: center;
}

/* -----RIGHT BOX---- */
.right{
  width:70vw ;
    margin: 5px 10px;
  height: 100vh;
  border: 2px solid white;
  border-radius: 12px;
}

.right-first{
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.right-first-1{
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.right-first-1:hover{
  text-decoration: underline;
}

.right-first-2{
  font-size: 15px;
  color:#636262;
  padding: 5px 20px;
  font-weight: 600;
  cursor: pointer;
}
.right-first-2:hover{
  text-decoration: underline;
}
